.menu-select {
    width: 100%;
}
.content div.contentImgScreen:hover .screenAdd {
    display: block;
}
.line .lineSeparator {
    height: 71px;
}
.line .left {
    width: 15.71%;
}
.line .right {
    width: 15.71%;
}
.col-sm-3 {
    float: left;
}
.line .lineSeparatorFoot, .footPage {
    float: left;
}
.line .left, .line .left{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    *behavior: url(https://raw.github.com/Schepp/box-sizing-polyfill/master/boxsizing.htc);
}
.content .slides .col .fa-plus-square {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '\f0fe');
}
@media only screen and (min-width: 1400px) {
    .col-sm-3 {
	width: 22.8% !important;
    }
    .line .left {
	width: 15.70%;
    }
    .line .right {
	width: 15.70%;
    }
    .line .lineSeparatorFoot, .footPage {
	height: 271px !important;
    }
    .line .center .footPage {
	width: 31.7% !important;
    }
}
@media only screen and (min-width: 1052px) and (max-width: 1399px) {
    .col-sm-3 {
	width: 22% !important;
    }
    .line .left {
	width: 15.45%
    }
    .line .right {
	width: 15.45%;
    }
    .line .lineSeparatorFoot, .footPage {
	height: 310px !important;
    }
    .line .center .footPage {
	width: 31.3% !important;
    }
}
@media only screen and (min-width: 660px) and (max-width: 1051px){
    .head .menu ul li a{
	font-size: 13px;
    }
    .col-sm-3 {
	width: 28.5% !important;
    }
    .line .left {
	width: 14.9%;
    }
    .line .right {
	width: 14.9%;
    }

    .line .lineSeparatorFoot, .footPage {
	height: 310px !important;
    }
    .line .center .footPage {
	width: 30% !important;
    }
}
@media only screen and (min-width: 472px) and (max-width: 659px) {
    .head .menu ul li a{
	font-size: 12px;
    }
    .col-sm-3 {
	width: 45% !important;
    }
    .line .left {
	width: 14%;
    }
    .line .right {
	width: 14%;
    }
    .line .lineSeparatorFoot {
	height: 825px !important;
    }
}
@media only screen and (max-width: 471px) {
    .col-sm-3 {
	width: 96% !important;
    }
    .line .left {
	width: 13%;
    }
    .line .right {
	width: 13%;
    }
    .line .lineSeparatorFoot {
	height: 825px !important;
    }
}