/*Css*/
html {
    height: 100%;
    width: 100%;
    display: table;
}
body > div {
    width: 67.14%;
    margin-left: auto;
    margin-right: auto;
}
/*Encabezado, menu */
/*Titulo*/
.head .title {
    padding: 0 0 0 15px;
}
.head .title h1 {
    color: /*#e85f3d*/#fa6740;
    font-family: 'Lato', sans-serif;
}
/*Menu*/
.head .menu ul {
    margin-top: 10px;
    float: right;
    list-style: none;
}
.head .menu ul li {
    float: left;
    margin-left: 20px;
}
.head .menu ul li a {
    color: /*#b8b8b8*/#575757;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}
.head .menu {

}
/*Separador de Menu y contenido*/
.line {
    width: 100%;
    margin: 0;
    display: table;
}
.line .left, .line .right {
   width: 16.43%;
}
.lineSeparator {
    height: 61px;
    display: table-cell;
}
.left {
    background-color: /*#f2ad9d*/#ff9c81;
}
.right {
    background-color: /*#f2ad9d*/#ff9c81
}
.center {
    padding: 0 10px 0 10px;
    color: /*#fff*/#000000;
    width: 67.14%;
}
.center div {
    padding: 1px 1px 1px 15px;
    background-color: #ff6941;
}
/*Menu del contenedor*/
.content {
    padding-left: 5px;
}
.content .menu-select {
    margin-top: 20px;
}
.content .menu-select ul {
    list-style: none;
    margin-left: -30px;
}
.content .menu-select ul li {
    float: left;
    padding: 10px;
}
.content .menu-select ul li:hover {
    background-color: #ff6941;
}
.content .menu-select ul li:hover a {
    color: /*#fff*/#000000;
}
.content .menu-select ul li a {
    color: /*#b8b8b8*/#575757;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}
/*Contenedor*/
.content .slides {
    float: left;
}
.content .slides .col {
    float: left;
    max-width: 429px;
    padding: 20px 10px 20px 10px;
}
.content .slides .col .slide {
    border: #ddd9da solid 2px;
}
/*Content img screenAdd*/
.content .slides .col .contentImgScreen {
    width: 100%;
    height: 183px;
    position: relative;
}
.content .slides .col img {
    width: 100%;
    height: 100%;
}
.content div.contentImgScreen:hover .screenAdd {
    display: table;
}
.content .slides .col .text {
    padding: 10px 0 10px 10px;
}
.content .slides .col .text a {
    color: /*#b9b9b9*/#575757;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}
.content .slides .col .text p {
    color: /*#e46634*/#8f4021;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
}
/*ScreenAdd and Icon*/
.content .slides .col .screenAdd {
    display: none;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: 0.6;
    filter: alpha(opacity=60); /*I8 y versiones anteriores*/
    position: absolute;
    text-align: center;
}
.content .slides .col .screenAdd .fa {
    display: table-cell;
    vertical-align: middle;
    color: #fff;
}
/*Pie de pagina*/
div .footPage {
    padding: 25px 25px 0 30px;
}
.footPage {
    height: 273px;
    color: /*#fff*/#000000;
    float: left;
    width: 33.33333334%;
    min-width: 334px;
    max-width: auto;
}
.footPage a {
    color: #efb09f;
}
.footPage h1 {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
}
.footPage a:hover {
    color: #efb09f;
}
.lineSeparatorFoot {
    display: table-cell;
    height: 100%;
}

/*Media queries*/
@media only screen and (min-width: 1400px) {
    .content .slides .col-sm-3 {
        width: 25% /*!important*/;
    }
    .content .slides .col .text a {
        font-size: 14px !important;
    }
    .content .slides .col .text p {
        font-size: 12px !important;
    }
    .footPage {
	min-width: auto;
	width: 33.33333334% !important;
    }
}
@media only screen and (min-width: 1052px) and (max-width: 1399px) {
    .content .slides .col-sm-3 {
        width: 25% /*!important*/;
    }
    .content .slides .col .text a {
        font-size: 12px !important;
    }
    .content .slides .col .text p {
        font-size: 10px !important;
    }
    .footPage {
	min-width: 0;
	width: 33.33333334% !important;
	height: 310px !important;
    }
    .footPage a {
	font-size: 12px !important;
    }
    .footPage p {
	font-size: 12px !important;
    }
    .footPage h1 {
	font-size: 20px !important;
    }
}
@media only screen and (min-width: 660px) and (max-width: 1051px){
    .content .slides .col-sm-3 {
	width: 33.333333333% /*!important*/;
    }
    .footPage {
	width: 100% !important;
    }
    .content .slides .col .text a {
	font-size: 11px !important;
    }
    .content .slides .col .text p {
	font-size: 9px !important;
    }
    .footPage {
	min-width: 0;
	width: 33.33333334% !important;
	height: 310px !important;
    }
    .footPage a {
	font-size: 9px !important;
    }
    .footPage p {
	font-size: 9px !important;
    }
    .footPage h1 {
	font-size: 16px !important;
    }
}
@media only screen and (min-width: 472px) and (max-width: 659px) {
    .head li{
        width: 100% !important;
    }
    .menu-select li {
	width: 100% !important;
    }
    .content .slides .col-sm-3 {
	width: 50% /*!important*/;
    }
    .line .center .footPage {
	width: 100% !important;
    }
    .content .slides .col .text a {
	font-size: 10px !important;
    }
    .content .slides .col .text p {
	font-size: 8px !important;
    }
}
@media only screen and (max-width: 471px) {
    .head li{
	width: 100% !important;
    }
    .menu-select li {
	width: 100% !important;
    }
    .content .slides .col-sm-3 {
	width: 100% /*!important*/;
    }
    .line .center .footPage {
	width: 100% !important;
    }

    .content .slides .col .text a {
	font-size: 10px !important;
    }
    .content .slides .col .text p {
	font-size: 8px !important;
    }
}